#container{
    width: 800px;
    height: 800px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}
.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
#box1{
    float: left;
    background-color: blue;
}
#box2{
    float: right;
    background-color: blueviolet;
    
}
#box3{
    position: absolute;
    background-color: brown;
    left: 332px ;
    top: 485px;
    
}
#biox4{
    position: absolute;
    background-color: rgb(218, 131, 0);
    left: 650px;
    top: 650px;
}